.CreateConnectorPage {
  background-color: #F0F0F0;
  padding: 0% 10%;
  height: 100%;
  font-family:  'Rubik', 'sans serif';
  position: relative;
}

.LimitConnectorPage {
  background-color: #F0F0F0;
  padding: 5% 10%;
  height: 80%;
  font-family:  'Rubik', 'sans serif';
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.LimitConnectorPage a {
  text-decoration: none;
}

.CreateConnectorPortal {
  padding: 0%;
  min-height: 90vh;
}

.ConnectorSearchBar {
  margin: 0% 20%; 
}

h1 {
  margin-top: 0
}

h3 {
  font-size: 0.8rem;
  font-weight: 300;
}

.CreateConnectorPage p {
  color: #0F566C
}

a {
  margin: 0;
  color: #0F566C;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow:  inset 0 0 6px rgba(71, 71, 71, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(247, 169, 0, 0.8);
  border-radius: 5px;
}

.CreateConnectorPortal .BackButton {
  position: absolute;
  left: 300px
}

.BackButton {
  position: absolute;
  left: 50px;
  top: 30px;
}


.CredentialComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5%;
}

.CredentialComponentWidgetOnly {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}

.CredentialComponent p {
  text-align: left;
}

.CreateDashboard {
  margin: 0% 15%;
}

.CreateDashboardComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60vh;
}


@media (max-width: 800px) {
  .BackButton {
    position: relative;
    align-self: flex-start;
    top: 0;
    left: 0;
  }
  .SkipButton {
    width: 50%;
  }
  .CreateDashboardComponent {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .ConnectorTiles {
    margin: 5% 5%;
    grid-template-columns: 50% 50%;
  }
  .SkipButton {
    width: 60%
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .ConnectorTiles {
    margin: 5% 5%;
    grid-template-columns: 33% 33% 33%;
  }
}